/* INDEX */
/* ================================================= */
.navbar {
    background-color: white;
    box-shadow: 0 5px 10px -7px #9e9e9e;
}

.title {
    color: #4e4e4e;
}

.hero.is-light .title {
    color: #17b83d;
}

.footer {
    box-shadow: 0 5px 10px -7px #9e9e9e inset;
}

/* WELCOME */
/* ================================================= */
.intro-npm {
    background: white;
    width: fit-content;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 20px;
    padding: 15px 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.intro-pre {
    background: none;
}

.setup-code {
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 20px;
    padding: 15px 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.top-section {
    margin-bottom: 5px;
}

.bottom-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: #23d160;
}

/* GEOLOCATION PAGE */
/* ================================================= */

.spacer {
    padding: 10px;
}

/* WEBGL PAGE */
/* ================================================= */
#webGlContainer {
    margin: 0;
}
canvas {
    max-width: 100%;
}

code {
    display: block;
    width: -webkit-calc( 100% - 40px );
    width: -moz-calc( 100% - 40px );
    width: calc( 100% - 40px );
    padding: 20px;
    white-space: pre-wrap;
    background-color: #f9f9f9;
    overflow: auto;
}